.display-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.display-timer-container {
  font-family: 'Architects Daughter', cursive;
  border: 2px solid rgb(189, 219, 245);
  padding: 2em 0;
  width: 80%;
  border-radius: 5px;
  margin-bottom: 5em;
  background-color: rgb(140, 66, 184);
  color: white;
}

#timer-label {
  font-size: 3em;
}

#time-left {
  font-size: 10em;
}

.display-button-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  justify-items: center;
  align-content: center;
}

#reset,
#start_stop {
  font-size: 1em;
  height: 3em;
  width: 7em;
}

@media screen and (max-width: 520px) {
  .display-timer-container {
    width: 80%;
    margin-bottom: 5em;
  }

  #timer-label {
    font-size: 2em;
  }

  #time-left {
    font-size: 5em;
  }
}
