.session-section {
  display: flex;
  flex-direction: column;
}

.session-button-container {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
  padding: 1em 0;
}

#session-label {
  font-size: 2em;
}

#session-length {
  font-size: 3em;
}

@media screen and (max-width: 850px) {
  #session-label {
    font-size: 1em;
  }

  #session-length {
    font-size: 1.5em;
  }
}
