.app {
  background-color: #343434;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2em 0;
  width: 70vw;
  margin: 5vh auto;
  text-align: center;
  border-radius: 10px;
  color: #83b;
  text-shadow: 1px 1px 0 black;
  box-shadow: 0px 0px 7px 1px #000000;
}

.prog-title {
  font-size: 5em;
  color: aliceblue;
  text-shadow: 2px 2px 2px #a5b;
}

button {
  background: white;
  color: #a5b;
  height: 1.2em;
  width: 1.9em;
  border: none;
  border-radius: 5px;
  font-size: 2em;

  &:disabled {
    background-color: grey;
  }
}

.section-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5em;
  padding-top: 2em;
}
